:root {
    --main-bg-color: black; /* main background color */
    --main-text-color: white; /* main text color */
  }

body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    text-align: center;
}

/* main border style */
.border {
    border: 3px solid white;
    border-radius: 12px;
}

div.main {
    width: 1000px;
    padding: 2px 10px;
    margin: 15px auto;
}

div.gameTitle {
    font-weight: bold;
    margin: 10px auto 10px auto;
}

p.gameTitle {
    font-size: 300%;
    margin: 10px 0px;
}

div.randomEvents {
    width: 850px;
    height: 50px;
    float: left;
    padding: 3px 8px;
    margin: 5px auto;
}

div.playerBar {
    display: inline-block;
    float: right;
    width: 120px;    
}

div.hpCounter {
    display: inline-block;
    width: 100px;
    padding: 3px 8px;
    margin: 5px auto;
}

p.hpCounter {
    display: inline;
    font-size: 150%;
}

button.invButton {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.inv {
    display: inline-block;
    width: 100px;
    padding: 3px 5px;
    margin: 5px auto;
}
